<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h4>Objectives:</h4><ul><li>List popular languages that Data Scientists use.</li><li>List commonly used libraries used by Data Scientists.</li><li>Comment on Data Science tools.</li></ul>

Some of the popular languages that Data Scientists use are:<ol><li>Python</li><li>R</li><li>SQL</li></ol>

Some of the commonly used libraries used by Data Scientists include: <ol><li>MatPlotlib</li><li>Keras</li><li>Numpy</li><li>Pandas</li></ol>

<table><tr><th>Data Science Tools</th></tr><tr><td>Power BI</td></tr><tr><td>Tensorflow</td></tr><tr><td>Apache Spark</td></tr></table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [2]:
(59*5)+11

306

 This will convert 200 minutes to hours by diving by 60

In [3]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

<h2>Author</h2>Tamanna